@import "node_modules/bootstrap/scss/bootstrap";

*{
    margin: 0%;
    padding: 0%;
    //box-sizing: border-box;
}

h1 {
  color: blue;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
  text-decoration: underline;
}

header {
    color: brown;
}

.piepagina{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: darkgoldenrod;
}



